<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="./css/style.css" type="text/css">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <script src="./js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="img/rsz_bug.png" alt="bug" width="40" height="40" class="tab">
      </div>
      <div class="col-md-4">
        <h1>BUG TRACKER</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
      <form action="" method="POST" class="">
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Name">
        <br>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Bug Title" name="bug">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Description" name="des">
          </div>
        </div> 
        <br>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="low">Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>
        <br>
        <br>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="open">Open</option>
          <option value="dev">On development</option>
          <option value="closed">Closed</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
      </form>
      </div>
    </div>
  </div>
</body>
</html>