body{
    background-color: white;
    height: 100vh;
}

#incapsul{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}